/* main-color 5F8C85 */

#root {
  margin: 0 auto;
  text-align: center;
}
.card {
  padding: 2em;
}

.section-search {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 60px;
}

.articleBlock-container-style{
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}